<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Brows.Properties.Settings>
            <setting name="zoomfactor" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="appName" serializeAs="String">
                <value>Classical Radio</value>
            </setting>
            <setting name="favorites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>www.classicalwcrb.org/</string>
                        <string>www.br.de/radio/live/br-klassik/</string>
                        <string>www1.wdr.de/radio/wdr3/</string>
                        <string>www.br-klassik.de/index.html</string>
                        <string>www.mdr.de/klassik/index.html</string>
                        <string>www.npoklassiek.nl/online-radio-luisteren/gedraaid</string>
                        <string>www.vrt.be/vrtmax/livestream/audio/klaracontinuo/</string>
                        <string>www.vrt.be/vrtmax/livestream/audio/klara/</string>
                        <string>www.bbc.co.uk/sounds/play/live/bbc_radio_three</string>
                        <string>www.concertzender.nl/themakanalen/</string>
                        <string>google.com</string>
                        <string>www.bbc.com/news/us-canada</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Brows.Properties.Settings>
    </userSettings>
</configuration>